@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap");

@import "footer";
@import "header";
@import "variables";
@import "index";
@import "about";
@import "contact";
@import "gallery";
@import "shop";
@import "responsive";

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 1.5rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ESTILOS GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fdfefe;
}

h1 {
  padding-top: 60px;
  text-align: center;
}

h2 {
  padding: 30px;
  text-align: center;
}
/*-------Basic------*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--dark-color);
  line-height: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: 0.1rem;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}
/*------Layout-------*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem); /*los 2 rem de resta son los del espacio de gap*/
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
/*-------Buttons--------*/
.button {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1.125rem 1.5rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  transform: translateY(-0.25rem);
}

.button-light {
  display: inline-flex;
  color: var(--dark-color);
  font-weight: 700;
  align-items: center;
}
.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: 0.3s;
}

.button-light:hover .button-icon {
  transform: translateX(0.25rem);
}

/*------Featured Products------*/
.featured__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.product__sale {
  position: absolute;
  left: 0.5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  transform: rotate(-90deg);
  letter-spacing: 0.1rem;
}

.product__img {
  width: 220px;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-6);
  transform: var(--rotate-img);
  // : drop-shadow(0 12px 8px);
}
.product__name,
.product__price {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.product__name {
  margin-bottom: var(--mb-1);
  font-weight: 700;
}

.product__price {
  margin-bottom: var(--mb-4);
}
.product:hover {
  transform: translateY(-0.5rem);
}

.product__pages {
  margin-top: var(--mb-6);
}

.product__pag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-color);
}

.product__pag:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
  background: linear-gradient(
    0deg,
    rgba(66, 66, 66, 1) 0%,
    rgba(130, 130, 130, 1) 100%
  );
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

body {
  margin-top: 0px;
}

.logo h1 {
  padding: 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

section .title h1 {
  font-size: 25px;
  padding: 0px;
  margin-bottom: 50px;
}
